@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-bg {
  background-image: url('./assets/home-bg.jpg');
  background-size: 100% 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

.mask {
  background-color: rgba(0, 0, 0, 0.45);
}

.head-container {
  position: absolute;
  width: 100%;
  height: 112px;
  left: 0px;
  top: 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
  background: transparent;
}

.head-option {
  height: 32px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  cursor: pointer;
  color: #fff;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.head-icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
}

.remain-container {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: transparent;
}

.frame-option {
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: "Quicksand";
  src: url("./assets/Quicksand-Light.ttf")
}

.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}